@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/flowers.jpg);
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Pacifico', cursive;
}

.container {
    max-width: 1450px;
    margin: 50px auto;
    padding: 25px;
}

.filter-box {
    color: white;
    margin: 15px;
    padding: 30px;
    font-size: 19px;
    line-height: 150%;
    background-color: #95e24c66;
    display: flex;
    align-items: center;
}

.filter-radio label {
    margin-right: 15px;
}

.filter-radio label:last-child {
    margin-right: 50px;
}

.filter-range span {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 50px;
    color: #abe9d8;
    font-size: 28px;
}

.sort-select label {
    margin-right: 15px;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.user {
    max-width: 300px;
    margin: 15px;
    padding: 30px;
    color: rgb(255 255 255);
    font-size: 19px;
    line-height: 150%;
    text-align: end;
    background-color: #95e24c66;
    position: relative;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.person-id {
    position: absolute;
    color: rgb(124, 132, 115);
}

.person-name {
    font-size: 24px;
}